.header {
    width: 100%;
    text-align: center;
    height: 70px;
    z-index: 999;
    line-height: 70px;
    top: 0;
}

.header a h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 130px;
    color: #140104;
    text-align: center;
    text-decoration: none;
}

.header .header-menu {
    font-size: 25px;
    font-family: 'Cousine', monospace;
    color: azure;
}

.header .header-menu a {
    color: azure;
    text-decoration: none;
}

.header .header-menu a:hover {
    color: #58D68D;
}

.img1 {
    margin-top: 65px;
    text-align: center;
    display: flex;
}

.img1 img {
    margin-top: 20%;
    height: 450px;
    width: 450px;
    border: solid 4px white;
}

.img1 img:hover {
    transform: scale(1.3);
}

.img1 .ok {
  width: 50%;
}
.img1 .okok {
  width: 50%;
}

.platine img {
    margin-top: 15%;
    padding-left: 3.75%;
    height: 29%;
    width: 29%;
}

body {
    background-image: url("../images/test6.jpg");
    background-repeat: no-repeat;
}

p {
    font-family: 'Cousine', monospace;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 32%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}