.header {
    width: 100%;
    text-align: center;
    height: 70px;
    z-index: 999;
    line-height: 70px;
    top: 0;
}

.header a h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 130px;
    color: #140104;
    text-align: center;
    text-decoration: none;
}

.header .header-menu {
    font-size: 25px;
    font-family: 'Cousine', monospace;
    color: azure;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.header .header-menu a {
    color: azure;
    text-decoration: none;
}

.header .header-menu a:hover {
    color: #58D68D;
}

.img1 {
    margin-top: 65px;
    text-align: center;
    display: flex;
}

.img1 img {
    margin-top: 20%;
    height: 450px;
    width: 450px;
    border: solid 4px white;
}

.img1 img:hover {
    transform: scale(1.3);
}

.img1 .ok {
  width: 50%;
}
.img1 .okok {
  width: 50%;
}

.ovni img {
    margin-top: 100%;
    height: 300px;
    width: auto;
}

.platine img {
    margin-top: 15%;
    padding-left: 3.75%;
    height: 29%;
    width: 29%;
}

#container {
    position: relative;
}

#animate {
    position: relative;
}

body {
    background-image: url("../images/bg.png");
}

p {
    font-family: 'Cousine', monospace;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 32%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
  margin-top: -14%;
  margin-left: 350px;
}

.image10 span {
  display: block;
  position: absolute;;   /* positionnement hors flux */
  left: -100%;          /* décalage à gauche toute */
  padding: 0 .40em;     /* un peu d'espace latéral */
  color: #F0F8FF;          /* couleur du texte à ajuster suivant le besoin */
  transition: all .3s;  /* la transition à appliquer */
}

.image10:hover span {
  left: 5em;            /* position égale à la largeur de l'image */
}

span {
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
}

